<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head >
  <meta charset="UTF-8">
  <link rel="stylesheet" href="Css/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>Pasar a Excel</title>
</head>

<body>

 
  <div class="wrapper" style="width:1000px ;height: auto;">
    <div class="title">Archivo descifrado</div>
      <div style="display:flex ; justify-content:center ;">
       <p th:if="${exito != null}" th:text="${exito}" style="color: white"></p>
       <p th:if="${error != null}" th:text="${error}" style="color: white"></p>
      </div>
          <br>
          <div style="display:flex ; justify-content:center ;">
              <div th:if="${error != null}">
                  <a href="/readAnyWay"><button type="button" class="btn btn-warning">Leer de todos modos</button></a>
                  <a href="/"><button type="button" class="btn btn-danger">Volver a inicio</button></a>
              </div>
          </div>
      <div style="display:flex ; justify-content:center ;">
          <div th:if="${exito != null}">
              <a href="/join"><button type="button" class="btn btn-warning">Unir</button></a>
          </div>
      </div>

    <table class="table" style="background-color:white ;">
      <thead class="thead-dark" >
        <tr>
          <h3 style="color:white;"> Hoja 1</h3>
        </tr>
        <tr >
          <th scope="col">NumContrato</th>
          <th scope="col">CUIT</th>
          <th scope="col">Deominación</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Código Postal</th>
          <th scope="col">Productor</th>
        </tr>
      </thead>
      <tbody>
          <tr th:each="empresa:${Empresa}">
              <td th:text="${empresa.NroContrato}"></td>
              <td th:text="${empresa.Cuit}"></td>
              <td th:text="${empresa.Denominacion}"></td>
              <td th:text="${empresa.Domicilio}"></td>
              <td th:text="${empresa.CodigoPostal}"></td>
              <td th:text="${empresa.Productor}"></td>
              
          </tr>
      </tbody>
    </table>
    
    <br>
    <table class="table" style="background-color:white ;">
      <thead class="thead-light" >
        <tr>
          <h3 style="color:white;"> Hoja 2</h3>
        </tr>
        <tr >
          <th scope="col">NroContrato</th>
          <th scope="col">SaldoCtaCte</th>
          <th scope="col">Concepto</th>
          <th scope="col">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="empresa:${Empresa}">
              <td th:text="${empresa.Movimientos.Movimiento.NroContrato}"></td>
              <td th:text="${empresa.Movimientos.Movimiento.SaldoCtaCte}"></td>
              <td th:text="${empresa.Movimientos.Movimiento.Concepto}"></td>
              <td th:text="${empresa.Movimientos.Movimiento.Importe}"></td>
                          
          </tr>
      </tbody>
    </table>

    <br>
    <div th:if="${error == null}" style="display:flex ; justify-content:center ;">

        <a href="/excel"><button type="button" class="btn btn-info" style="margin-right:10px">Pasar a Excel</button></a>

        <a href="/"><button type="button" class="btn btn-danger">Volver a inicio</button></a>
    </div>

    
</div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"></script>
</body>

</html>